# dependencies
node_modules

# output
out
dist
*.tgz

# coverage
coverage
*.lcov

# logs
*.log

# env
.env
.env.*
!.env.example

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDE
.idea
.DS_Store
.vscode-test

# yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
